/*
SEGA Nerds app for Chrome-compatible systems
2014-2015 espectalll123 <espectalll123@kydara.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@font-face {
	font-family: Muli;
	src: url("ttf/muli_regular.ttf") format('truetype');
}

body {
	font-family: Muli, Helvetica;
    -webkit-font-smoothing: antialised;
	background-image: url("img/bg.jpg");
	background-position: center;
}

#titleBar {
	position: absolute;
	z-index: 99;
	width: 100%; height: 64px;
	left: 0; top: 0;
	background-color: rgba(249, 135, 39, 0.85);
	vertical-align: middle;
}

#titleLogo {
	position: absolute;
	z-index: 100000;
	left: 32px; top: 10px;
}

#tmBox {
	position: absolute;
	z-index: 100;
	width: 232px; height: 64px;
	left: 0; top: 0;
}
#titleMenu {
	float: left;
	display: none;
	opacity: 0;
	position: absolute;
	z-index: 101;
	width: 232px;
	left: 0; top: 0;
	background-color: #063464;
}
.tmItem {
	width: 232px; height: 64px;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	transition-property: background;
	transition-duration: .1s;
	transition-timing-function: linear;
}
#tmLogo {
	background-image: url("img/tmlogo.png");
}
#tmFS {
	background-image: url("img/tmfs.png");
}
#tmFS:hover {
	background-image: url("img/tmfs_hover.png");
}
#tmShare {
	background-image: url("img/tmshare.png");
}
#tmShare:hover {
	background-image: url("img/tmshare_hover.png");
}
#tmWeb {
	background-image: url("img/tmweb.png");
}
#tmWeb:hover {
	background-image: url("img/tmweb_hover.png");
}
#tmSettings {
	background-image: url("img/tmsettings.png");
}
#tmSettings:hover {
	background-image: url("img/tmsettings_hover.png");
}

#searchBar {
	float: left;
	width: 320px; height: 64px;
	margin-left: 232px;
}
#searchBox {
	display: none;
	float: left;
	margin: 0;
	border: 8px solid rgba(86,86,86,.42);
	outline: none;
	width: 0px; height: 64px;
	background-clip: padding-box;
	font-family: Muli, Helvetica;
	font-size: medium;
}
#searchBox:focus {
	background-color: #c1ccd8;
}

#dragBar {
	position: absolute;
	left: 296px; top: 0;
	height: 64px;
	-webkit-app-region: drag;
}

#windowControls {
	float: right;
	width: 128px;
}

.titleBtn {
	width: 64px; height: 64px;
}

#minBtn {
	float: left;
	background-image: url("img/minimize_btn.png");
	transition-property: background;
	transition-duration: .1s;
	transition-timing-function: linear;
}
#minBtn:hover {
	background-image: url("img/minimize_hover.png");
}

#closeBtn {
	float: right;
	background-image: url("img/close_btn.png");
	transition-property: background;
	transition-duration: .1s;
	transition-timing-function: linear;
}
#closeBtn:hover {
	background-image: url("img/close_hover.png");
}

#searchBtn {
	float: left;
	background-image: url("img/search_btn.png");
	transition-property: background;
	transition-duration: .1s;
	transition-timing-function: linear;
}
#searchBtn:hover {
	background-image: url("img/search_hover.png");
}

#content {
	margin: 72px auto;
	padding: 0 4px 0 4px;
	width: 696px;
	background-color: white;
}
.post-image {
	align: left
	width: 290px; height: 166px;
}
.post-text {
	align: right;
}
p.description {
	font-size: 16px;
}
p.error {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: red;
}
